.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.points {
    width: 30px;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
}