.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choice_input {
    width: 150px;
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.choice_input_submenu {
    top: 27px;
    position: absolute;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: white;
    border: 1px solid black;
    border-radius: var(--border-radius);
    left: 0px;
}

.submenu_item:hover {
    cursor: pointer;
    background-color: rgb(171, 169, 169);
    border-radius: var(--border-radius);
}