.button {
    background-color: white;
    color: black;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10%;
}

.button:hover {
    border-color: #646cff;
}